<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>메뉴 관리</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header class="mb-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
      <img src="/images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
          <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/home/myPage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
        </li>
      </ul>
    </div>
    <form method="GET" th:action="@{/menu/menuSearch}" id="menuSearch" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="userName" placeholder="찾으시는 메뉴명을 입력하세요">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
    </form>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mb-4">메뉴 등록</h3>
      <form method="POST" th:action="@{/menu/registration}" class="mb-4">
        <div class="form-group">
          <label for="name">메뉴명</label>
          <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="price">가격</label>
          <input type="text" name="price" id="price" class="form-control" />
        </div>
        <div class="form-group">
          <label for="categorize">카테고리</label>
          <input type="text" name="categorize" id="categorize" class="form-control" />
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary" />
        <a th:href="@{/menu}" type="button" class="btn btn-secondary">돌아가기</a>
      </form>
    </div>
  </div>

  <h3 class="mb-4">메뉴 관리</h3>
  <div class="row">
    <div th:each="menu: ${menus}" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title" th:text="${menu.getName()}"></h5>
          <p class="card-text">
            <strong>가격 : </strong> <span th:text="${menu.getPrice()}"></span><br/>
            <strong>카테고리 : </strong> <span th:text="${menu.getCategorize()}"></span><br/>
            <strong>상태 : </strong> <span th:text="${menu.getState() == 0 ? '비활성화':'활성화'}"></span>
          </p>
          <form th:method="patch" th:action="@{/menu/update}" id="menuUpdate" class="mb-2">
            <input type="hidden" name="menuId" th:value="${menu.getId()}" />
            <div class="form-group">
              <label for="updateName">이름</label>
              <input type="text" name="updateName" id="updateName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="updatePrice">가격</label>
              <input type="text" name="updatePrice" id="updatePrice" class="form-control" />
            </div>
            <div class="form-group">
              <label for="updateCategorize">카테고리</label>
              <input type="text" name="updateCategorize" id="updateCategorize" class="form-control" />
            </div>
            <input type="submit" value="메뉴 정보 수정" class="btn btn-danger btn-sm" />
          </form>
          <form method="GET" th:action="@{/recipe}" id="recipe">
            <input type="hidden" name="menuId" th:value="${menu.getId()}"/>
            <input type="submit" value="레시피 관리" class="btn btn-secondary btn-sm" />
          </form>
          <form th:method="delete" th:action="@{/menu/delete}" id="menuDelete">
            <input type="hidden" name="menuId" th:value="${menu.getId()}"/>
            <input type="submit" value="메뉴 정보 삭제" class="btn btn-danger btn-sm" />
          </form>
          <form th:method="patch" th:action="@{/menu/state}" id="menuState">
            <input type="hidden" name="menuId" th:value="${menu.getId()}"/>
            <input type="submit" value="메뉴 상태 변경" class="btn btn-warning btn-sm" />
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
