<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>메뉴 관리</title>
</head>
<body>
<header>
  <div>
    <a href="/home">
      <img src="/images/logo.png" alt="">
    </a>
  </div>
  <ul>
    <li th:if="${session.user != null}"><span th:text="${session.user.getName()}"></span>님 안녕하세요.</li>
    <li><a th:if="${session.user != null}" href="/home/logout">로그아웃</a>
      <a th:unless="${session.user != null}" href="/home/login">로그인</a></li>
    <li><a th:if="${session.user != null}" href="/user/userMyPage">마이페이지</a></li>
    <li><a th:if="${session.user != null}" href="/orderCart/myOrderCart">나의 장바구니</a></li>
    <li><a th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a></li>
    <li><a th:if="${session.user != null}" href="/user">회원 관리</a></li>
    <li><a th:if="${session.user != null}" href="/menu">메뉴 관리</a></li>
    <li><a th:if="${session.user != null}" href="/ingredient">재료 관리</a></li>
    <li><a th:if="${session.user != null}" href="/supplier">공급업체 관리</a></li>
    <li><a th:if="${session.user != null}" href="/order">주문 관리</a></li>
  </ul>
  <div>
    <form method="POST" th:action="@{/menu/registration}">
      <label for="name">메뉴명 : </label>
      <input type="text" name="name" id="name"/><br/>

      <label for="price">가격 : </label>
      <input type="text" name="price" id="price"/><br/>

      <label for="categorize">카테고리 : </label>
      <input type="text" name="categorize" id="categorize"/><br/>

      <input type="submit" value="등록하기"/>
      <a th:href="@{/menu}" type = "button">돌아가기</a>
    </form>
  </div>
  <div>
    <form method="POST" th:action="@{/menu/menuSearch}" id="menuSearch">
      <div>
        <label>
          <input type="text" name="menuName" placeholder="찾으시는 메뉴명을 입력하세요">
        </label>
        <button type="submit">검색</button>
      </div>
    </form>
  </div>
</header>

<nav>
      <div>
        <div>
            <h3>메뉴 관리</h3>
        </div>
        <div>
            <div th:each="menu: ${menus}">
              <div class="menu">
                <div>
                  <h3 class="menu-name" th:text="${menu.getName()}"></h3>
                  <h4 class="menu-price" th:text="${menu.getPrice()}"></h4>
                  <h4 class="menu-categorize" th:text="${menu.getCategorize()}"></h4>
                  <h4 class="menu-state" th:text="${menu.getState() == 0 ? '비활성화':'활성화'}"></h4>
                </div>

                <form method="GET" th:action = "@{/recipe}" id="recipe">
                  <input type ="hidden" name="menuId" th:value="${menu.getId()}"/>
                  <input type="submit" value="레시피 관리">
                </form>

                <form th:method="patch" th:action = "@{/menu/update}" id="menuUpdate">
                  <input type ="hidden" name="menuId" th:value="${menu.getId()}"/>
                  <label for="updateName">이름 : </label>
                  <input type="text" name="updateName" id="updateName"/><br/>
                  <label for="updatePrice">가격 : </label>
                  <input type="text" name="updatePrice" id="updatePrice"/><br/>
                  <label for="updateCategorize">카테고리 : </label>
                  <input type="text" name="updateCategorize" id="updateCategorize"/><br/>
                  <input type="submit" value="메뉴 정보 수정">
                </form>

                <form th:method="delete" th:action = "@{/menu/delete}" id="menuDelete">
                  <input type ="hidden" name="menuId" th:value="${menu.getId()}"/>
                  <input type="submit" value="메뉴 정보 삭제">
                </form>

                <form th:method="patch" th:action = "@{/menu/state}" id="menuState">
                  <input type ="hidden" name="menuId" th:value="${menu.getId()}"/>
                  <input type="submit" value="메뉴 상태 변경">
                </form>
              </div>
            </div>
        </div>
      </div>
</nav>

</body>
</html>