<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>공급</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    <h1 class="mb-4">공급</h1>
    <div th:each="supplyIngredient: ${ingredientList}">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" th:text="${supplyIngredient.getName()}"></h5>
                <p class="card-text">
                    <strong>단위 : </strong> <span th:text="${supplyIngredient.getUnit()}"></span>
                </p>
                <form method="POST" th:action="@{/supplyDetails/supplyIngredient}">
                    <input type="hidden" name="supplierId" th:value="${supplier.getId()}"/>
                    <input type="hidden" name="supplyIngredientId" th:value="${supplyIngredient.getId()}"/>
                    <div class="form-group">
                        <label>가격</label>
                        <input class="form-control" type="number" name="price" placeholder="단가를 입력해주세요."/>
                    </div>
                    <div class="form-group">
                        <label>공급량</label>
                        <input class="form-control" type="number" name="supplyAmount" placeholder="공급할 수량을 입력해주세요."/>
                    </div>
                    <button type="submit" class="btn btn-primary">공급 리스트 추가</button>
                </form>
            </div>
        </div>
    </div>

    <form method="GET" th:action="@{/supplyDetails/supplyDetailList}" class="mb-3">
        <input type="hidden" name="supplierId" th:value="${supplier.getId()}">
        <button type="submit" class="btn btn-success">공급하기</button>
        <a th:href="@{/supplier}" class="btn btn-secondary">돌아가기</a>
    </form>
</main>
</body>
</html>
