<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>회원 관리</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
      <img src="/images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
          <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
        </li>
      </ul>
    </div>
    <form method="GET" th:action="@{/user/userSearch}" id="userSearch" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="userName" placeholder="찾으시는 회원명을 입력하세요">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
    </form>
  </nav>
</header>

<main class="container">
  <h1 class="mt-5">회원 관리</h1>
  <div class="row">
    <div th:each="user: ${users}" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title" th:text="${user.getName()}"></h5>
          <p class="card-text">
            <strong>주소 : </strong> <span th:text="${user.getAddress()}"></span><br/>
            <strong>전화번호 : </strong> <span th:text="${user.getPhoneNumber()}"></span><br/>
            <strong>상태 : </strong> <span th:text="${user.getState() == 0 ? '비활성화':'활성화'}"></span>
          </p>
          <form th:method="patch" th:action = "@{/user/update}" id="menuUpdate" class="mb-2">
            <div class="form-group">
              <input type ="hidden" name="userId" th:value="${user.getId()}"/>
              <label for="updateName">이름 : </label>
              <input type="text" name="updateName" id="updateName" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="updateAddress">주소 : </label>
              <input type="text" name="updateAddress" id="updateAddress" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="updatePhoneNumber">전화번호 : </label>
              <input type="text" name="updatePhoneNumber" id="updatePhoneNumber" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-danger btn-sm">회원 정보 수정</button>
          </form>
          <form th:method="delete" th:action = "@{/user/delete}" id="userDelete">
            <input type="hidden" name="userId" th:value="${user.getId()}"/>
            <input type="submit" value="회원 정보 삭제" class="btn btn-danger btn-sm" />
          </form>
          <form th:method="patch" th:action = "@{/user/state}" id="userState">
            <input type="hidden" name="userId" th:value="${user.getId()}"/>
            <input type="submit" value="회원 상태 변경" class="btn btn-warning btn-sm" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>


</body>

</html>
