<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>메인 페이지</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="GET" th:action="@{/home/menuSearch}" id="menuSearch">
            <input class="form-control mr-sm-2" type="text" name="menuName" placeholder="찾으시는 메뉴명을 입력하세요">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </nav>
</header>

<main role="main" class="container">
    <h1 class="mt-5">전체 상품</h1>
    <div class="row" th:each="menu: ${menus}">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${menu.getName()}"></h5>
                    <p class="card-text">
                        <strong>가격 : </strong> <span th:text="${menu.getPrice()}"></span>
                        <br>
                        <strong>카테고리 : </strong> <span th:text="${menu.getCategorize()}"></span>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form method="GET" th:action="@{/menu/menuDetail}">
                            <input type="hidden" name="menuId" th:value="${menu.getId()}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">상세보기</button>
                        </form>
                        <form method="POST" th:action="@{/orderCart/registration}">
                            <input type="hidden" name="menuId" th:value="${menu.getId()}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">장바구니 등록</button>
                        </form>
                        <a th:href="@{/home}" class="btn btn-sm btn-outline-secondary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
