<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>메인 페이지</title>
</head>
<body>
<header>
    <div>
        <a href="/home">
            <img src="/images/logo.png" alt="">
        </a>
    </div>
    <ul>
        <li th:if="${session.user != null}"><span th:text="${session.user.getName()}"></span>님 안녕하세요.</li>
        <li><a th:if="${session.user != null}" href="/home/logout">로그아웃</a>
            <a th:unless="${session.user != null}" href="/home/login">로그인</a></li>
        <li><a th:if="${session.user != null}" href="/user/userMyPage">마이페이지</a></li>
        <li><a th:if="${session.user != null}" href="/orderCart/myOrderCart">나의 장바구니</a></li>
        <li><a th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a></li>
        <li><a th:if="${session.user != null}" href="/user">회원 관리</a></li>
        <li><a th:if="${session.user != null}" href="/menu">메뉴 관리</a></li>
        <li><a th:if="${session.user != null}" href="/ingredient">재료 관리</a></li>
        <li><a th:if="${session.user != null}" href="/supplier">공급업체 관리</a></li>
        <li><a th:if="${session.user != null}" href="/order">주문 관리</a></li>
    </ul>
    <div>
        <form method="POST" th:action="@{/menu/bookSearch}" id="menuSearch">
            <div>
                <label>
                    <input type="text" name="menuName" placeholder="찾으시는 메뉴명을 입력하세요">
                </label>
                <button type="submit">검색</button>
            </div>
        </form>
    </div>
</header>

<nav>

    <h3>전체 상품</h3>
    <div th:each="menu: ${menus}">
        <div class="menu">
            <div>
                <h3 class="menu-name" th:text="${menu.getName()}"></h3>
                <h4 class="menu-price" th:text="${menu.getPrice()}"></h4>
                <h4 class="menu-categorize" th:text="${menu.getCategorize()}"></h4>
            </div>
        </div>
    </div>
</nav>
</body>
</html>