<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>희망 공급목록 관리</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    <h1 class="mt-5">희망 공급목록 관리</h1>
    <div class="card mb-3" th:each="supplyCart: ${supplyDetailsList}">
        <div class="card-body">
            <h5 class="card-title" th:text="${supplyCart.getIngredient().getName()}"></h5>
            <p class="card-text">
                <strong>단위 : </strong> <span th:text="${supplyCart.getIngredient().getUnit()}"></span>
            </p>
            <form th:method="patch" th:action = "@{/supplyDetails/updateSupplyAmount}" id="updateSupplyAmount" class="mb-2">
                <div class="form-group">
                    <input type ="hidden" name="supplyDetailId" th:value="${supplyCart.getId()}"/>
                    <input type ="hidden" name="supplierId" th:value="${supplier.getId()}"/>
                    <label>공급량 : </label>
                    <input type="number" name="updateAmount" th:value="${supplyCart.getSupplyAmount()}" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-primary">공급량 수정</button>
            </form>

            <form th:method="delete" th:action = "@{/supplyDetails/deleteSupplyDetail}" id="deleteSupplyDetail" class="mb-2">
                <input type ="hidden" name="supplyDetailId" th:value="${supplyCart.getId()}"/>
                <input type ="hidden" name="supplierId" th:value="${supplier.getId()}"/>
                <button type="submit" class="btn btn-danger">공급 삭제</button>
            </form>
        </div>
    </div>

    <form method="GET" th:action="@{/supply}" class="mb-5">
        <input type ="hidden" name="supplyId" th:value="${supplyDetailsList.get(0).getSupply().getId()}"/>
        <button type="submit" class="btn btn-primary">최종 공급페이지로 이동하기</button>
        <a th:href="@{/supplier}" type = "button" class="btn btn-secondary">돌아가기</a>
    </form>
</main>

</body>

</html>
