<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>최종 공급 내역</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/home/logout">로그아웃</a>
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/login">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/home/myPage">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/orderCart">나의 장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null}" href="/order">주문 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:unless="${session.user != null}" href="/home/userRegistration">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/user">회원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/menu">메뉴 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/ingredient">재료 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplier">공급업체 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.user != null && session.user.getName().equals('1')}" href="/supplyDetails/supplyDetailManagement">공급 내역 목록</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    <h1 class="mt-5">최종 공급 내역</h1>
    <div class="card mb-3" th:each="supplyDetail: ${supplyDetailsList}">
        <div class="card-body">
            <h5 class="card-title" th:text="${supplyDetail.getIngredient().getName()}"></h5>
            <p class="card-text">
                <strong>공급량 : </strong> <span th:text="${supplyDetail.getSupplyAmount()}"></span><br>
                <strong>단가 : </strong> <span th:text="${supplyDetail.getPrice()}"></span>
            </p>
        </div>
    </div>

    <form method="GET" th:action="@{/supply/ingredientSupply}" class="mb-5">
        <input type="hidden" name="supplyId" th:value="${supply.getId()}"/>
        <h4>총 가격: <span th:text="${supply.getTotalPrice()}"></span>원</h4>
        <button type="submit" class="btn btn-primary">공급 신청하기</button>
    </form>
</main>
</body>
</html>
