<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<h2>회원가입</h2>

<div>
    <a href="/home">
        <img src="/images/logo.png" alt="">
    </a>
</div>

<form th:action="@{/user/registration}" method="POST">
    <div>
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="address">주소:</label>
        <input type="text" id="address" name="address" required>
    </div>

    <div>
        <label for="phoneNumber">전화번호:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
    </div>


    <button type="submit">가입하기</button>
</form>

</body>
</html>